<div class="text-center">
    <h1 class="mt-2">Picking</h1>
</div>

<div class="d-flex justify-content-center" *ngIf="registeringMedium || waitingForProduct">
    <div class="row spinner-border text-primary m-5" style="width: 14rem; height: 14rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="h-100" id="demopurpose" *ngIf="!waitingForProduct">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="profile-card py-3 card text-center">
                    <h3 class="card-title">Producto a Recoger</h3>
                    <div class="card-body py-4">
                        <div class="d-flex px-1 w-100 align-items-center text-left">
                            <div class="w-100">
                                <label class="mb-1 font-weight-light h5 text-muted small text-uppercase">Posicion:</label>
                                <strong class="d-block">
                                    <i class="fa fa-location-arrow"></i>
                                    {{ currentProduct.posicion }}
                                </strong>
                                <label class="mb-1 font-weight-light h5 text-muted small text-uppercase">Referencia:</label>
                                <strong class="d-block">
                                    <i class="fa fa-qrcode"></i>
                                    {{ currentProduct.referencia }}
                                </strong>
                                <label class="mb-1 font-weight-light h5 text-muted small text-uppercase">Cantidad:</label>
                                <strong class="d-block">
                                    <i class="fa fa-truck-loading"></i>
                                    {{ currentProduct.cantidad }}
                                </strong>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container h-100 mt-5" *ngIf="testingPickedProduct">
        <h2 class="text-center">Comprobar producto</h2>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div>              
                    <input type="file" class="col btn-lg" (change)="onImageSelected($event)">
                </div>
                <div>
                    <button type="button" class="col btn-primary btn-lg" (click)="onUpload()">Cargar</button>
                </div>
            </div>
        </div>

        <div *ngIf="showStatus">
            <div class="d-flex justify-content-center" *ngIf="waitingForPrediction">
                <div class="row spinner-border text-primary m-5" style="width: 14rem; height: 14rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="!waitingForPrediction">
                <p class="h4 text-danger" *ngIf="notCorrectlyChosen">Producto no reconocido. Por favor vuelve a tomar una foto.</p>
            </div>
        </div>
    </div>

    <div class="container h-100" *ngIf="selectingNextProduct">
        <div class="row justify-content-center align-items-center h-100" *ngIf="!waitingForPrediction">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <p class="h3 text-success text-center" *ngIf="correctlyChosen">Correcto!</p>
                <button class="col btn btn-success btn-lg" (click)="nextProduct(orderID)">Siguiente producto</button>
                <h4 class="text-center m-2">Desea cambiar el medio?</h4>
                <input class="col m-1" type="text" placeholder="Ingrese ID del medio" #mediumID>
                <button class="col btn btn-primary m-1 btn-lg" (click)="registerMedium(orderID, mediumID.value)">Cambiar</button>
            </div>
        </div>
    </div>
</div>
